.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 250px;
}

.chatAuthor {
  color: black;
  font-size: 14px;
}

.chatText {
  color: black;
  font-size: 18px;
}

.chatMessage {
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
