.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}

.App-div {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}

.chatAuthor {
  color: black;
  font-size: 14px;
  background-color: rgb(200, 200, 200);
}

.chatText {
  color: black;
  font-size: 18px;
}

.chatId {
  color: black;
  font-size: 14px;
  background-color: rgb(200, 200, 200);
}

.chatMessage {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 25px;
}

.Chat {
  background-color: beige;
  width: 500px;
  display: flex;
  flex-direction: column;
}
